{% load static %}
{% block content %}


  <!DOCTYPE html>
  <html lang="en" >

  <head>
    <meta charset="UTF-8">
    <title>Multiple Choice Quiz</title>
    
    
    
      <style type="text/css">
        div.hidden
  {
    display: none
  }
      </style>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script  src="{% static 'assessment/js/mainquiz.js' %}"></script>
  </head>

  <body>
 
<!-- 
   
   <div id="mainbody">
        {% if questions.0.question_image  %}
         <img src=" {{ questions.0.question_image.url }}" height="250px" width="250px">
    {% endif %}
 
  <h1 id="quiz-name"></h1>
  



<h2 id="qstntitle" style="margin-bottom: 0px">
  {{questions.0.question_text }} 
</h2>
<h4>Score :  {{questions.0.score }}    &nbsp &nbsp &nbsp  Level :   {{questions.0.level }}  &nbsp &nbsp &nbsp <span  id="time">{{questions.0.time_in_minutes }}</span></h4> 

   <form class="col s12" method="POST" action="/main/beginquiz/{{questions.0.topic}}/" enctype="multipart/form-data">
              {% csrf_token %}

              <input placeholder="" id="validity" type="text" name="validity" value="1">
            



           <div class="panel-primary" >

{% if questions.0.integer_type %}
 <input placeholder="" id="integertype" type="text" name="integertype">
            <label for="integertype">Enter answer</label><br><br><br>
       
       {% endif %}

  {% if questions.0.single_option %}
       <input type="radio" id="person_{{ questions.0.topic }}" name="rad" value="1">

<label for="person_{{ questions.0.topic }}">{{ questions.0.option1 }}</label>

        <input type="radio" id="person_{{ questions.0.topic }}" name="rad" value="2">
<label for="person_{{ questions.0.topic }}">{{questions.0.option2}}</label>

 <input type="radio" id="person_{{ questions.0.topic }}" name="rad" value="3">
<label for="person_{{ questions.0.topic }}">{{questions.0.option3}}</label>


 <input type="radio" id="person_{{ questions.0.topic }}" name="rad" value="4">
<label for="person_{{ questions.0.topic }}">{{questions.0.option4}}</label>


<br><br><br>
              
   {% endif %}


{% if not questions.0.integer_type %}
{% if not questions.0.single_option %}


            <input type="checkbox" id="person_{{ questions.0.topic }}" name="one" value="1">

<label for="person_{{ questions.0.topic }}">{{ questions.0.option1 }}</label>

        <input type="checkbox" id="person_{{ questions.0.topic }}" name="two" value="1">
<label for="person_{{ questions.0.topic }}">{{questions.0.option2}}</label>

 <input type="checkbox" id="person_{{ questions.0.topic }}" name="three" value="1">
<label for="person_{{ questions.0.topic }}">{{questions.0.option3}}</label>


 <input type="checkbox" id="person_{{ questions.0.topic }}" name="four" value="1">
<label for="person_{{ questions.0.topic }}">{{questions.0.option4}}</label>


<br><br><br>
              
               {% endif %}
              {% endif %}
           </div>
</div>


                 <div id="nexter"><button id="submit" class="btn" type="submit" style="margin-bottom: 2px">Submit</button></div>
           </form> -->



    {% if currentquestion.question_image  %}
      <img src=" {{ currentquestion.question_image.url }}" height="250px" width="250px">
    {% endif %}
    <h5>you are currently attending evaluation on {{ chapter_title }}</h5><br><br>
    <h2 id="qstntitle" style="margin-bottom: 0px">
      {{currentquestion.id}}]  {{currentquestion.text }} 
    </h2>


    <form class="col s12" method="POST" action="{% url 'assess:quiz' chapter_title node_id  %}" enctype="multipart/form-data">
      {% csrf_token %}

      
      <h4>
        Score :  {{currentquestion.score }}   
    
      
      </h4> 
                
              
      <div class="panel-primary" >

        {% if currentquestion.integer_type %}
          <input placeholder="" id="integertype" type="text" name="integertype" value="{{question_submission.integer_type_submission}}">
          <label for="integertype">Enter answer</label><br><br><br>
          
        {% endif %}

        {% if currentquestion.single_option %}  
      
          {% if question_submission.op1  %}
            <input type="radio" id="person_{{ currentquestion.topic }}" name="rad" value="1" checked>
            <label for="person_{{ currentquestion.topic }}">{{ currentquestion.option1 }}</label>
          {% endif %}
          
          {% if not question_submission.op1 %}
            <input type="radio" id="person_{{ currentquestion.topic }}" name="rad" value="1">
            <label for="person_{{ currentquestion.topic }}">{{ currentquestion.option1 }}</label>
          {% endif %}

          {% if question_submission.op2  %}
            <input type="radio" id="person_{{ currentquestion.topic }}" name="rad" value="2" checked>
            <label for="person_{{ currentquestion.topic }}">{{ currentquestion.option2 }}</label>
          {% endif %}

          {% if not question_submission.op2 %}
            <input type="radio" id="person_{{ currentquestion.topic }}" name="rad" value="2">
            <label for="person_{{ currentquestion.topic }}">{{ currentquestion.option2 }}</label>
          {% endif %}



          {% if question_submission.op3  %}
            <input type="radio" id="person_{{ currentquestion.topic }}" name="rad" value="3" checked>
            <label for="person_{{ currentquestion.topic }}">{{ currentquestion.option3 }}</label>
          {% endif %}
          
          {% if not question_submission.op3 %}
            <input type="radio" id="person_{{ currentquestion.topic }}" name="rad" value="3">
            <label for="person_{{ currentquestion.topic }}">{{ currentquestion.option3 }}</label>
          {% endif %}



          {% if question_submission.op4  %}
            <input type="radio" id="person_{{ currentquestion.topic }}" name="rad" value="4" checked>
            <label for="person_{{ currentquestion.topic }}">{{ currentquestion.option4 }}</label>
          {% endif %}
          
          {% if not question_submission.op4 %}
            <input type="radio" id="person_{{ currentquestion.topic }}" name="rad" value="4">
            <label for="person_{{ currentquestion.topic }}">{{ currentquestion.option4 }}</label>
          {% endif %}

          <br><br><br>
                  
        {% endif %}


        {% if not currentquestion.integer_type %}
          
          {% if not currentquestion.single_option %}

            {% if question_submission.op1  %}
              <input type="checkbox" id="person_{{ currentquestion.topic }}" name="one" value="1" checked>
              <label for="person_{{ currentquestion.topic }}">{{currentquestion.option1}}</label>
            {% endif %}
      
            {% if not question_submission.op1 %}
              <input type="checkbox" id="person_{{ currentquestion.topic }}" name="one" value="1">
              <label for="person_{{ currentquestion.topic }}">{{currentquestion.option1}}</label>
            {% endif %}

            {% if question_submission.op2  %}
              <input type="checkbox" id="person_{{ currentquestion.topic }}" name="two" value="1" checked>
              <label for="person_{{ currentquestion.topic }}">{{currentquestion.option2}}</label>
            {% endif %}
      
            {% if not question_submission.op2 %}
              <input type="checkbox" id="person_{{ currentquestion.topic }}" name="two" value="1">
              <label for="person_{{ currentquestion.topic }}">{{currentquestion.option2}}</label>
            {% endif %}

            {% if question_submission.op3  %}
              <input type="checkbox" id="person_{{ currentquestion.topic }}" name="three" value="1" checked>
              <label for="person_{{ currentquestion.topic }}">{{currentquestion.option3}}</label>
            {% endif %}

            {% if not question_submission.op3 %}
              <input type="checkbox" id="person_{{ currentquestion.topic }}" name="three" value="1">
              <label for="person_{{ currentquestion.topic }}">{{currentquestion.option3}}</label>
            {% endif %}

            {% if question_submission.op4  %}
              <input type="checkbox" id="person_{{ currentquestion.topic }}" name="four" value="1" checked=>
              <label for="person_{{ currentquestion.topic }}">{{currentquestion.option4}}</label>
            {% endif %}
      
            {% if not question_submission.op4 %}
              <input type="checkbox" id="person_{{ currentquestion.topic }}" name="four" value="1">
              <label for="person_{{ currentquestion.topic }}">{{currentquestion.option4}}</label>
            {% endif %}

            <br><br><br>
                  
          {% endif %}
        
        {% endif %}
      </div>


      <div id="nexter">
        <button id="submitter" class="btn" type="submit" style="margin-bottom: 2px">
          Submit and Next
        </button>
      </div>
  
    </form> 

    <br>

   
    {% if messages %}
    <ul class="message">
        {% for message in messages %}
            <li {% if message.tags %} class="message.tags" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}








<!-- <div id="submitans">
<button id="submitanswer" class="btn"  style="margin-bottom: 2px">Submit Answer</button>
</div> -->

<!-- <div id="extraControls" class="hidden">
   <h4>Solution:</h4>
  {% if ans.answer_image  %}
     
         <img src=" {{ ans.answer_image.url }}" height="250px" width="250px">
    {% endif %}
     <h4>{{ ans.answer_text }}</h4>
</div> -->


  </body>






</html>
{% endblock content %}