{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Multiple Choice Quiz</title>
  
  
  

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>

<body>
  <div style="text-align: left; margin-left: 30%" >


 {% if chapter_update_error %}
<div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Error!</strong> Enter the fields correctly
</div>
{% endif %}
 {% if topic_deleted %}
<div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> Topic has been deleted!
</div>
{% endif %}

 {% if topic_added_error %}
<div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Error!</strong> Enter the fields correctly
</div>
{% endif %}


  <div id="quiz text-center">
 <h2 id="title" style="margin-bottom: 30px">
  Update Chapter: 
</h2>


 <h3>Edit the Chapter and press update or press Delete to delete this Chapter:</h3>
</div>
</div>


     <form method="POST" action="/chapters/{{chapter.id}}/" enctype="multipart/form-data">
  {% csrf_token %}
  <div style="text-align: left; margin-left: 30%" >
<input id="update" type="hidden" class="update" name="update" value="1" />




 {{chapter_form.as_p}}

     
     
           <button type="submit">Update</button>                  
  </div>
 
</form>






 <form method="POST" action="/chapters/{{chapter.id}}/" >
  {% csrf_token %}
  <div style="text-align: left; margin-left: 30%" >
   
   <input id="delete" type="hidden" class="delete" name="delete" value="1" />

                           
     
     
           <button type="submit">Delete</button>                  
  </div>
 
</form>

   

  <br><br>











 <div style="text-align: left; margin-left: 30%" >
{% if topic_added %}
<div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> Topic has been added!
</div>
{% endif %}
<h3 id="title" style="margin-bottom: 30px">
  Fill the details and press Add topic to add your topic to this chapter:
</h3>
 <form method="POST" action="/chapters/{{chapter.id}}/" enctype="multipart/form-data">

{% csrf_token %}
<input id="addtopic" type="hidden" class="add" name="addtopic" value="1" />

{{topic_form.as_p}}



     
     
           <button type="submit">Add Topic</button>
 </form>

</div>
<h3>Select the topics you want to update or delete present in this chapter</h3>
<br><br>
  {% if topics %}
  <div class="row" style="margin:5px">
    

{% for i in topics %}
<form class="col s12" method="POST" action="/chapters/topic/{{i.id}}/" enctype="multipart/form-data">
              {% csrf_token %}
<input id="topicedit" type="hidden" class="topicedit" name="topicedit" value="1" />
<input id="topicnumber" type="hidden" class="topicnumber" name="topicnumber" value="{{i.id}}" />

    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="panel panel-primary">
         <div class="panel-heading">{{i.title}}</div>
           <div class="panel-body">
             <p> {{i.content1}}</p>
           </div>


           
           <div class="panel-primary">
              <button id="submit" class="btn" type="submit" style="margin-bottom: 2px">Edit Topic</button>
           </div>
          

         </div>
      </div>
</form>
 {% endfor %}
  
{% endif %}


 

  </div>

  





</body>

</html>
{% endblock content %}