{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Multiple Choice Quiz</title>
  
  
  
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
</head>

<body>
  <div style="text-align: left; margin-left: 30%" >
  <div id="quiz text-center">
 <h2 id="title" style="margin-bottom: 30px">
  Update Topic: 
</h2>




{% if topic_update_error %}
<div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Error!</strong> Enter the fields correctly
</div>
{% endif %}
 <h3>Edit the Topic and press update or press Delete to delete this Topic:</h3>
</div>
</div>


     <form method="POST" action="{% url 'chapters:edittopic' topic.id   %}" enctype="multipart/form-data">

  {% csrf_token %}
  <div style="text-align: left; margin-left: 30%" >
<input id="update" type="hidden" class="update" name="update" value="1" />


     {{topic_form.as_p}}
        





     
     
           <button type="submit">Update</button>                  
  </div>
 
</form>






 <form method="POST" action="{% url 'chapters:edittopic' topic.id   %}" >

  
  {% csrf_token %}
  <div style="text-align: left; margin-left: 30%" >
   
   <input id="delete" type="hidden" class="delete" name="delete" value="1" />

                           
     
     
           <button type="submit">Delete</button>                  
  </div>
 
</form>

   

  <br><br>

  {% if topics %}
  <div class="row" style="margin:5px">
    <h3>Select the topics you want to update or delete present in this chapter</h3>

{% for i in topics %}
<form class="col s12" method="POST" action="{% url 'chapters:editchapter' i.id   %}" enctype="multipart/form-data">

  


              {% csrf_token %}
<input id="topicedit" type="hidden" class="topicedit" name="topicedit" value="1" />
<input id="topicnumber" type="hidden" class="topicnumber" name="topicnumber" value="{{i.id}}" />

    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="panel panel-primary">
         <div class="panel-heading">{{i.title}}</div>
           <div class="panel-body">
             <p> {{i.content1}}</p>
           </div>


           
           <div class="panel-primary">
              <button id="submit" class="btn" type="submit" style="margin-bottom: 2px">Edit Topic</button>
           </div>
          

         </div>
      </div>

 {% endfor %}
  
{% endif %}


 
</form>
  </div>

  





</body>

</html>
{% endblock content %}