{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Multiple Choice Quiz</title>
  
  
  
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
</head>

<body>
  <div style="text-align: left; margin-left: 30%" >
  <div id="quiz text-center">
 <h2 id="title" style="margin-bottom: 30px">
  Update Topic: 
</h2>


 <h3>Edit the Topic and press update or press Delete to delete this Topic:</h3>
</div>
</div>


     <form method="POST" action="/chapters/topic/{{topic.id}}/" enctype="multipart/form-data">
  {% csrf_token %}
  <div style="text-align: left; margin-left: 30%" >
<input id="update" type="hidden" class="update" name="update" value="1" />


     <input id="title" type="text" class="title" name="title" value="{{topic.title}}" />
                            <label for="title">title</label><br>

<textarea id="content1" type="text" name="content1" value="">{{topic.content1}}</textarea> content1<br>
<textarea id="content2" type="text" name="content2" value="">{{topic.content2}}</textarea> content2<br>

    
<input type="file" name="image1" />
<label for="image1">photo1</label><br> 
  <div class="file-path-wrapper">
        {% if topic.image1 %}
        <input type="checkbox" id="nophoto" name="nophoto" value="1" >
          <label for="nophoto">no photo</label> <br>

<input class="file-path validate" name="image1" type="text" placeholder="Upload profile display picture" value="{{topic.image1.url }}">
{% endif %}
                                </div>
       
      <input id="total_test_time_in_minutes" type="number" class="total_test_time_in_minutes" name="total_test_time_in_minutes" value="{{topic.total_test_time_in_minutes}}" />
                            <label for="total_test_time_in_minutes">Test Time (minutes)</label><br>




 <input type="file"  name="image2"  />
      <label for="image2">photo2</label><br> 
     {% if topic.image2 %}
      <input type="checkbox" id="noansphoto" name="noansphoto" value="1" >
          <label for="noansphoto">no photo</label> <br>


  <input class="file-path validate" name="image2" type="text" placeholder="Upload profile display picture" value="{{ topic.image2.url }}"> <br><br>
        
 {% endif %}  




     
     
           <button type="submit">Update</button>                  
  </div>
 
</form>






 <form method="POST" action="/chapters/topic/{{topic.id}}/" >
  {% csrf_token %}
  <div style="text-align: left; margin-left: 30%" >
   
   <input id="delete" type="hidden" class="delete" name="delete" value="1" />

                           
     
     
           <button type="submit">Delete</button>                  
  </div>
 
</form>

   

  <br><br>

  {% if topics %}
  <div class="row" style="margin:5px">
    <h3>Select the topics you want to update or delete present in this chapter</h3>

{% for i in topics %}
<form class="col s12" method="POST" action="/chapters/{{i.id}}/" enctype="multipart/form-data">
              {% csrf_token %}
<input id="topicedit" type="hidden" class="topicedit" name="topicedit" value="1" />
<input id="topicnumber" type="hidden" class="topicnumber" name="topicnumber" value="{{i.id}}" />

    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="panel panel-primary">
         <div class="panel-heading">{{i.title}}</div>
           <div class="panel-body">
             <p> {{i.content1}}</p>
           </div>


           
           <div class="panel-primary">
              <button id="submit" class="btn" type="submit" style="margin-bottom: 2px">Edit Topic</button>
           </div>
          

         </div>
      </div>

 {% endfor %}
  
{% endif %}


 
</form>
  </div>

  





</body>

</html>
{% endblock content %}