{{message}} <br>
<br>
You have completed :
{{per_remaining}} %

<br>


{% for i in illus %}
{{i.content}} <br>
{{i.text}} <br>

{{i.answer}} <br>

{{i.content}} <br><br><br>
{% endfor %}

<form method="POST" action={% url 'content:illustrations' %}>

    {% csrf_token %}

    <input type="submit">
</form>



{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}