{% extends 'chapters/base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'content/css/learningContent.css' %}" />
<div class="learningContent">
    <div class="learningContent-a">

        {% if content.title %}
        <h1>{{content.title}}</h1>
        {% endif %}
        
        {% if content.text %}
        <p>{{content.text}}</p>
        {% endif %}
        {% if content.image %}
        <div class="learningContent-img" >
            <img src="http://127.0.0.1:8000/media/{{content.image}}" alt="">
        </div>
        {% endif %}
        {% if content.image2 %}
        <div class="learningContent-img" >
        <img src="http://127.0.0.1:8000/media/{{content.image2}}" alt="">
    </div>
    {% endif %}
</div>
    
    
    <div class="nextContent">
            <form class="normalForm" method="POST" action="{% url 'content:show-content' %}">
                    {% csrf_token %} 
                   <button class="nextContentBtn" type="submit">Next Page</button>     
           </form>
    </div>
    
  
</div>
{% block javascript %}
    <script src="{% static 'content/js/learningContent.js' %}" ></script>
{% endblock %}
{% endblock %}