<html>

<head>
        {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blissed Maths | Focused Learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'account/css/base.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'account/css/signUp.css' %}" />
    <link rel="icon" href="{% static 'account/assets/logo.png' %}">
    <meta name="theme-color" content="#2a323f" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:700" rel="stylesheet">
</head>

<body>
    <div class="container">


        <div class="signUp-logo">
            <img src="{% static 'account/assets/logo%20bm%20normal.png' %}" alt="">
            <h1>Blissed Maths</h1>
        </div>
        <h3 class="register-msg">Enter Basic Details</h3>
        <div class="signUp-body">
            <form action="" class="normalForm">

                <div class="inputNum">
                    <div class="inputNum-a">
                        <label for="inputName">Enter Name</label>
                        <input type="text" name="Name" id="inputName" required>
                    </div>
                    <div class="inputNum-msg">

                    </div>
                </div>
                <div class="inputNum">
                    <div class="inputNum-a">
                        <label for="inputClass">Choose Class</label>
                        <div class="radio-btns">

                            <p> <input type="radio" name="Class" value="9th">
                                6 <sup>th</sup></p>
                            <p> <input type="radio" name="Class" value="9th">
                                7 <sup>th</sup></p>
                            <p> <input type="radio" name="Class" value="9th">
                                8 <sup>th</sup></p>

                            <p> <input type="radio" name="Class" value="9th">
                                9 <sup>th</sup></p>
                            <p> <input type="radio" name="Class" value="9th">
                                10 <sup>th</sup></p>
                            <p> <input type="radio" name="Class" value="9th">
                                11 <sup>th</sup></p>
                            <p> <input type="radio" name="Class" value="9th">
                                12 <sup>th</sup></p>

                        </div>
                    </div>
                    <div class="note-class">

                        <p>Note:Choosen class cannot be changed from settings</p>
                        <p>To change class in future contact support.</p>
                    </div>
                    <div class="inputNum-msg">

                    </div>
                </div>
                <div class="inputNum">
                    <div class="inputNum-a">
                        <label for="inputEmail">Enter Email</label>
                        <input type="email" name="Email" id="inputEmail" required>

                    </div>
                    <div class="inputNum-msg">

                    </div>
                </div>
                <div class="inputNum">
                    <div class="inputNum-a">
                        <label for="inputCity">Enter City</label>
                        <input type="text" name="City" id="inputCity" required>
                    </div>
                    <div class="inputNum-msg">

                    </div>
                </div>
                <button type="submit" class="submit">
                    Save Details
                </button>
            </form>
        </div>
    </div>

</body>

</html>