<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blissed Maths | Focused Learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/base.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/signUp.css" />
    <link rel="icon" href="../../assets/logo.png">
    <meta name="theme-color" content="#2a323f" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:700" rel="stylesheet">
</head>

<body>
    <div class="container">


        <div class="signUp-logo">
            <img src="../../assets/logo bm normal.png" alt="">
            <h1>Blissed Maths</h1>
        </div>
        <h3 class="register-msg">Enter Pin for your account</h3>
        <div class="signUp-body">
            <form action="" class="normalForm">

                <div class="inputNum">
                    <div class="inputNum-a">
                        <label for="inputPin">Pin</label>
                        <input type="number" pattern="[0-9]*" inputmode="numeric" style="    -webkit-text-security: disc;
                        letter-spacing: 13px;
                        font-size: 48px;"
                            name="Pin" id="inputPin" maxlength="12">
                    </div>
                    <div class="inputNum-msg">
                        <p>This is error message</p>
                    </div>
                </div>
                <div class="inputNum">
                    <div class="inputNum-a">
                        <label for="inputConfirmPin">Confirm Pin</label>
                        <input type="number" pattern="[0-9]*" inputmode="numeric" style="    -webkit-text-security: disc;
                        letter-spacing: 13px;
                        font-size: 48px;"
                            name="Otp" id="inputConfirmPin" maxlength="12">
                    </div>
                    <div class="inputNum-msg">
                        <p>This is error message</p>
                    </div>
                </div>
                <button type="button" class="submit">
                    Submit
                </button>
            </form>
        </div>
    </div>

    <script src="../js/signUp.js"></script>
</body>

</html>