<h1>Reset Your password</h1>

<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>



<form method="POST" data-validate-user-otp="{% url 'account:validate-otp-reset' %}" data-validate-username-url="{% url 'account:validate-phone-reset' %}">

    {{form.as_p}} {% csrf_token %}

    <input type="submit">

</form>

{% block javascript %}
<script>
    $("#id_phone").change(function () {
        var form = $(this).closest("form");
        $.ajax({
            url: form.attr("data-validate-username-url"),
            data: form.serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    console.log(data)
                    console.log('Please enter otp')
                }
                else {
                    console.log(data)
                      console.log('This phn do not exits in our database')
                   
                }
            }
        });
    });


    $("#id_otp").change(function () {
        var form = $(this).closest("form");
        $.ajax({
            url: form.attr("data-validate-user-otp"),
            data: form.serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.matches) {
                    console.log('match')
                }
                else {
                    console.log(data)
                    console.log('unmatch otp')
                }
            }
        });
    });
</script> {% endblock %} {% if messages %}
<div class="messages">
    {% for message in messages %}
    <div>
        <p{% if message.tags %} id='this' class="{{ message.tags }}" {% endif %}>{{ message }}</p>
            <p class="messages-close">Close</p>
    </div>
    {% endfor %}
</div>
{% endif %}