<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blissed Maths | Focused Learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'account/css/base.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'account/css/signUp.css' %}" />
    <link rel="icon" href="{% static 'account/assets/logo.png' %}">
    <meta name="theme-color" content="#2a323f" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:700" rel="stylesheet">
</head>

<body>
    <div class="container">


        <div class="signUp-logo">
            <img src="{% static 'account/assets/logo bm normal.png' %}" alt="">

            <h1>Blissed Maths</h1>
        </div>
        <h3 class="register-msg">Enter Pin for your account</h3>
        <div class="signUp-body">
            <form method="POST" class="normalForm">
                {% csrf_token %}
                <div class="inputNum">
                    <div class="inputNum-a">
                        <label for="inputPin">Pin</label>
                        <input type="number" pattern="[0-9]*" inputmode="numeric" style="    -webkit-text-security: disc;
                        letter-spacing: 13px;
                        font-size: 48px; height: 30px"
                            name="password" id="inputPin" maxlength="12">
                    </div>
                    <div class="inputNum-msg">

                    </div>
                </div>
                <div class="inputNum">
                    <div class="inputNum-a">
                        <label for="inputConfirmPin">Confirm Pin</label>
                        <input type="number" pattern="[0-9]*" inputmode="numeric" style="    -webkit-text-security: disc;
                        letter-spacing: 13px;
                        font-size: 48px; height: 30px"
                            name="password2" id="inputConfirmPin" maxlength="12">
                    </div>
                    <div class="inputNum-msg">

                    </div>
                </div>
                <button type="submit" class="submit">
                    Submit
                </button>
            </form>
        </div>
    </div>


</body>

</html>

<!-- <h1>Set your passwordsds</h1>

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}

    <input type="submit">

</form> -->