{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Multiple Choice Quiz</title>
  
  
  
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
  
</head>

<body>
 <div style="text-align: left; margin-left: 30%" >
  <div id="quiz text-center">
 


</div>
</div>

 {% if edge_exists_error %}
<div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Error!</strong> This edge already exists
</div>
{% endif %}





 {% if two_nodes_needed_error %}
<div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Error!</strong> Exactly two nodes are required to be selected to make an edge
</div>
{% endif %}

<form method="POST" action="/states/admin/addedge/{{chapter.id}}/">
    {% csrf_token %}

<h2 id="title" style="margin-bottom: 30px">
  Enter weight and time
</h2>

{{edge_form.as_p}}
<h2 id="title" style="margin-bottom: 30px">
  Select the 2 Nodes which you want to add in this edge:
</h2>

    <input id="addedge" type="hidden" class="addedge" name="addedge" value="1" />
{% if nodes %}
  <div class="row" style="margin:5px">
   
{% for i in nodes %}


 <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="panel panel-primary">
         <div class="panel-heading">{{i.id}}</div>
           <div class="panel-body">
             <p> states in the node : {{i}}</p>
           </div>


           
           <div class="panel-primary">
             

 select here &nbsp     
              <input id="{{i.id}}" type="checkbox" class="{{i.id}}" name="{{i.id}}" value="1" />
                   


           </div>
          

         </div>
      </div>

 {% endfor %}
    </div>
{% endif %}
 <button id="submit" class="btn" type="submit" style="margin-bottom: 2px">Done</button>
</form>


   

  

  





</body>

</html>
{% endblock content %}