{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Multiple Choice Quiz</title>
  
  
  
    

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
</head>

<body>
 <div style="text-align: left; margin-left: 30%" >
  <div id="quiz text-center">
 <h2 id="title" style="margin-bottom: 30px">
  Update State: 
</h2>



 {% if state_add_error %}
<div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Error!</strong> Enter the details properly
</div>
{% endif %}



 <h3>Enter the details for this state:</h3>
</div>
</div>


     <form method="POST" action="/states/admin/topic/{{topics.title}}/" >
  {% csrf_token %}
  <div style="text-align: left; margin-left: 30%" >
<input id="add" type="hidden" class="add" name="add" value="1" />

{{state_form.as_p}}
     
     
           <button type="submit">Add state</button>                  
  </div>
 
</form>








   

  

  





</body>

</html>
{% endblock content %}