{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Multiple Choice Quiz</title>
  
  
  
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
</head>

<body>
 <div style="text-align: left; margin-left: 30%" >
  <div id="quiz text-center">
 <h2 id="title" style="margin-bottom: 30px">
  Update State: 
</h2>


 <h3>Edit the Edge and press update or press Delete to delete this Edge:</h3>
</div>
</div>


     <form method="POST" action="{% url 'states:edgeedit' edge.id %}" >


  {% csrf_token %}
  <div style="text-align: left; margin-left: 30%" >


<input id="update" type="hidden" class="update" name="update" value="1" />

 

      {{edge_form.as_p}}
     
     
           <button type="submit">Update</button>                  
  </div>
 
</form>




 <form method="POST" action="{% url 'states:edgeedit' edge.id %}" >

  
  {% csrf_token %}
  <div style="text-align: left; margin-left: 30%" >
   
   <input id="delete" type="hidden" class="delete" name="delete" value="1" />

     
     
           <button type="submit">Delete</button>                  
  </div>
 
</form>



   </div>

  

  





</body>

</html>
{% endblock content %}