{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Multiple Choice Quiz</title>
  
  
  
    

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
  
</head>

<body>
 <div style="text-align: left; margin-left: 30%" >
  <div id="quiz text-center">
 <h2 id="title" style="margin-bottom: 30px">
  Update Node: 
</h2>

 {% if node_update_error %}
<div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Error!</strong> Enter the details properly
</div>
{% endif %}
 <h3>Edit the Node and press update or press Delete to delete this Node:</h3>
</div>
</div>


     <form method="POST" action="/states/admin/node/{{node.id}}/" >
  {% csrf_token %}
  <div style="text-align: left; margin-left: 30%" >


<input id="update" type="hidden" class="update" name="update" value="1" />

  {{node_form.as_p}}


     
     
           <button type="submit">Update</button>                  
  </div>
 
</form>




 <form method="POST" action="/states/admin/node/{{node.id}}/" >
  {% csrf_token %}
  <div style="text-align: left; margin-left: 30%" >
   
   <input id="delete" type="hidden" class="delete" name="delete" value="1" />

     
     
           <button type="submit">Delete</button>                  
  </div>
 
</form>



   </div>

  

  





</body>

</html>
{% endblock content %}