{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Multiple Choice Quiz</title>
  
  
  
      <link rel="stylesheet" href="{% static 'assessment/css/style.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
</head>

<body>

  <div id="quiz text-center">

  {% if select_standard %}
<h3>Select a standard from the list of all the standards below to which you want to add the state:</h3>

      <div class="row" style="margin:5px">


<form class="col s12" method="POST" action="/states/admin/" >
   {% csrf_token %}
   <input id="standard" type="hidden" class="standard" name="standard" value="7" />
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="panel panel-primary">
         <div class="panel-heading"></div>
           <div class="panel-body">
             <p>standard 7</p>
           </div>   
           <div class="panel-primary">
            <button id="submit" class="btn" type="submit" style="margin-bottom: 2px">Select standard</button>
           </div>
         </div>
      </div>
</form>



<form class="col s12" method="POST" action="/states/admin/" >
   {% csrf_token %}
   <input id="standard" type="hidden" class="standard" name="standard" value="8" />
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="panel panel-primary">
         <div class="panel-heading"></div>
           <div class="panel-body">
             <p>standard 8</p>
           </div>   
           <div class="panel-primary">
            <button id="submit" class="btn" type="submit" style="margin-bottom: 2px">Select standard</button>
           </div>
         </div>
      </div>
</form>

<form class="col s12" method="POST" action="/states/admin/" >
   {% csrf_token %}
   <input id="standard" type="hidden" class="standard" name="standard" value="9" />
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="panel panel-primary">
         <div class="panel-heading"></div>
           <div class="panel-body">
             <p>standard 9</p>
           </div>   
           <div class="panel-primary">
            <button id="submit" class="btn" type="submit" style="margin-bottom: 2px">Select standard</button>
           </div>
         </div>
      </div>
</form>

<form class="col s12" method="POST" action="/states/admin/" >
   {% csrf_token %}
   <input id="standard" type="hidden" class="standard" name="standard" value="10" />
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="panel panel-primary">
         <div class="panel-heading"></div>
           <div class="panel-body">
             <p>standard 10</p>
           </div>   
           <div class="panel-primary">
            <button id="submit" class="btn" type="submit" style="margin-bottom: 2px">Select standard</button>
           </div>
         </div>
      </div>
</form>

      </div>
 
 {% else %}

  <div>
    
     <h3>Select a chapter from the list of all the chapters below to which you want to add the state:</h3>




 {% if chapters %}
  <div class="row" style="margin:5px">
   
{% for i in chapters %}
<form class="col s12" method="POST" action="/states/admin/chapter/{{i.title}}/" >
              {% csrf_token %}
<!-- <input id="edit" type="hidden" class="edit" name="edit" value="1" /> -->


    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <div class="panel panel-primary">
         <div class="panel-heading">{{i.gaurd}}</div>
           <div class="panel-body">
             <p>{{i.title}}</p>
           </div>


           
           <div class="panel-primary">
              <button id="submit" class="btn" type="submit" style="margin-bottom: 2px">Select Chapter</button>
           </div>
          

         </div>
      </div>
</form>
 {% endfor %}
   
{% endif %}


 

 </div>


 <br>

 <h3>If you want to add/ update/ delete chapters click the button below and make the necessary changes and come bak here:</h3>
  <a href="/chapters/"><button id="chapter" class="btn"  style="margin-bottom: 2px">ADD / Delete/ Modify chapter</button></a>
  </div>

 {% endif %}




</body>

</html>
{% endblock content %}